/* tools.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --dawn: #826189;
    --dawn2: #A7A0E0;
    --water: #126AA1;
    --water2: #205B96;
    --earth: #206E2D;
    --earth2: #289620;
    --sunset: #EB2B28;

    --quicksand: 'Quicksand', sans-serif;
    --inter: 'Inter', sans-serif;
    --outfit: 'Outfit', sans-serif;

    --current-primary: var(--dawn);
    --current-secondary: var(--dawn2);
}

button, input, select, option, textarea {
    font-family: inherit;
}

.tools-page {
    font-family: var(--quicksand);



    color: var(--current-primary);

    height: 100vh;
}

.tools-page p {
    margin: 0;
}

/*
Nav Bar
*/

.tools-page header {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: right;
    height: 50px;
    padding: 8px;
}

.tools-page header h3 {
    padding: 0 30px;
    color: var(--current-primary);
    z-index: 1000;
}

.tools-page nav ul {
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 40px;
}

.tools-page nav a {
    color: var(--current-primary);
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 12px;
    transition: all 0.2s ease-out;
}

.tools-page nav a:hover {
    background-color: var(--current-secondary);
    color: white;
}

.tools-page .hide-nav {
    display: none !important;
}

#hamburger {
    display: none;
}

@media (max-width: 630px) {
    nav {
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 0px;
        left: 0;
        width: 100%;
        height: 0;

        text-align: center;
        background: white;
        transition: 0.5s;
        overflow: hidden;

        z-index: 999;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0;
    }

    nav li:nth-child(1) {
        margin-top: 100px;
    }

    nav a{
        padding: 10px 100px;
    }

    label {
        margin-left: auto;
        width: 45px;
        height:30px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
    }

    label div {
        width: 100%;
        height: 5px;
        background: var(--current-primary);
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }

    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 50%;
    }
    label div:nth-child(3) {
        top: 100%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top:50%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }
}

.tools-page{
/*
----------
Tools Page
----------
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 100px;
}

.timer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 63vh;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
}

.stages {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 32px;
    font-size: 32px;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.stage-name {
    color: var(--current-primary);
    opacity: 0.4;
    transition: opacity 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.stage-name.active {
    opacity: 1;
    color: var(--current-primary);
    transform: scale(1.15);
}

.stage-name.animate-in {
    animation: stageIn 0.3s;
}

@keyframes stageIn {
    from { transform: scale(0.8); opacity: 0.2; }
    to   { transform: scale(1.15); opacity: 1; }
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Optional: spacing between clock and controls */
}

.adjust {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px
}

.time-adjust {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.clock {
    font-size: 150px;
    margin: 0;
    width: 400px;
    text-align: right;
}

.time-adjust button {
    width: 35px;
    height: 25px;

    background-color: var(--current-secondary);
    color: white;
    border: none;
    border-radius: 12px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10), 0 2px 4px 0 rgba(0,0,0,0.12);
}

.time-adjust button:hover {
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.15);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 40px;

    background-color: var(--current-secondary);
    color: white;
    border: none;
    border-radius: 20px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.10), 0 2px 4px 0 rgba(0,0,0,0.12);
    transition: 0.3s ease-in;
}

.playpause_button, .replay_button {
    height: 25px;
    width: 25px;
}

.buttons button:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

/*
Tools Section
*/

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30vh;
    width: 100%;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
    gap: 10px;
}

.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 70%;
    height: 100%;
}

#note {
    width: 1000px;
    height: 225px;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
    resize: none;
    border: 4px solid var(--current-secondary);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px var(--current-primary);
    transition: all 0.3s ease;
}

#note:focus {
    border-color: var(--current-primary);
    box-shadow: 0 0 20px var(--current-secondary);
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
}

.stage-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.stage-buttons button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--current-secondary);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

#focus {
    border-radius: 10px;
}

.stage-buttons button:hover {
    transform: scale(1.05);
    background-color: var(--current-primary);
}


@media (max-width: 1350px) {
    .timer-section {
        height: 50vh;
        margin-top: 50px;
    }

    .notes {
        order: -1;
        width: 100%;
    }

    .tools {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
    .music {
        width: 50%;
    }
    .yt {
        width: 80%;
        height: 300px;
    }
    #note {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .music {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .timer-section {
        font-size: 32px;
    }
    .time-adjust {
        font-size: 20px;
    }
    .clock {
        font-size: 100px;
        width: 250px;
        text-align: left;
    }

    .yt {
        height: auto;
    }

    .stages {
        font-size: 22px;
    }
}
}