@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

:root {
    --dawn: #826189;
    --dawn2: #A7A0E0;
    --water: #126AA1;
    --water2: #205B96;
    --earth: #206E2D;
    --earth2: #289620;
    --sunset: #EB2B28;

    --quicksand: 'Quicksand', sans-serif;
    --inter: 'Inter', sans-serif;
    --outfit: 'Outfit', sans-serif;

    --current-primary: var(--dawn);
    --current-secondary: var(--dawn2);
}

* {
    margin: 0;
    padding: 0;
}

button, input, select, option, textarea {
    font-family: inherit;
}


.home{
    font-family: var(--quicksand);
    color: var(--current-primary);
}

.home, .settings-inner {
    transition: 
        color 0.5s ease-in-out,
        background-image 0.5s ease-in-out;
}

.home header {
    display: flex;
    justify-content: right;
    align-items: center;

    text-align: right;
    height: 50px;
}

.home header h3 {
    padding-right: 20px;
    color: var(--current-secondary);
}

/*
-------
Nav Bar
-------
*/
.home nav{
    position: absolute;
    left: 100px;
    top: 33%;
    transform: translateY(-50%);
    width: auto;

    font-size: 20px;
    font-weight: 650;
    color: var(--current-secondary);
    text-decoration: none;
}

.home nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    margin: 0;
    padding: 25px 0;
    width: 300px;

    list-style: none;
    border-radius: 35px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

    background-color: white;
    text-align: center;
}

.home nav a {
    padding: 5px 10px;

    text-decoration: none;
    color: var(--current-secondary);
    border-radius: 12px;
    
    transition: all 0.3s ease-out;
}

.home nav a:hover {
    background-color: var(--current-secondary);
    color: white;
}

/*
---------------
Welcome Section
---------------
*/
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 70vh;
    text-align: center;
}

.home h1{
    font-size: 150px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.home h1 span{
    font-family:var(--quicksand);
    font-size: 175px;
    font-weight: 200;
    cursor: pointer;
    transition: all ease 0.5s;
}

.home h1 span:hover {
    font-size: 185px;
    transition: all ease 0.5s;
}

.home .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.home button{
    padding: 12px 20px;
    font-size: 25px;
    font-weight: 600;

    cursor: pointer;
    border: none;
    border-radius: 15px;

    background-color: var(--current-secondary);
    color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 6px 0 rgba(0,0,0,0.20);

    transition: 0.3s ease-in;
}

.home button:hover{
    padding: 15px 25px;
    font-size: 30px;
    border-radius: 25px;
    
    transition: 0.3s ease-out;
}

.home .mobile-nav {
    opacity:0;
}

/*
---------------
Settings
---------------
*/

.home .settings {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    z-index: -1;

    position: fixed;
    inset: 0;
    
    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease-in-out;
}

.home .open {
    opacity: 1;
    z-index: 1000;
}

.home .settings-inner {
    position: relative;
    width: 300px;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px 30px 30px 30px;

    /*background: linear-gradient(#FFC2D2, #A79EE0);*/
    background-image: url("../../assets/Dawn.svg");
    background-position: center;
    background-size: cover;

    color: var(--current-primary);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.home .settings-inner .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.home .title {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    margin-inline: auto;
    width: fit-content;
    
    font-size: 30px;
}

.home .item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    gap: 10px;
}

.home .item label:not(.switch) {
    width: 120px;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

.home .item select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: none;

    color: #535353;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.home .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.home .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.home .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.home .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.home input:checked + .slider {
    background-color: #2196F3;
}

.home input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.home input:checked + .slider:before {
    transform: translateX(26px);
}

.home .slider.round {
    border-radius: 34px;
}

.home .slider.round:before {
    border-radius: 50%;
}

.home footer{
    color:aliceblue;
    text-align: center;
    font-size: 20px;

    padding: 0 10px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
------
Mobile
------
*/

.home #menu {
    display: none;
}

@media (max-width: 1200px) {
    nav {
        display: none;
    }

    .mobile-nav{
        opacity: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    
        font-size: 20px;
        font-weight: 650;
        color: var(--current-secondary);
        text-decoration: none;
    }
    
    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        margin: 0;
        padding: 25px 0;
        width: 350px;
    
        list-style: none;
        border-radius: 35px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    
        background-color: white;
        text-align: center;
    }
    
    .mobile-nav a {
        padding: 10px 100px;
    
        text-decoration: none;
        color: var(--current-secondary);
        border-radius: 12px;
        
        transition: all 0.3s ease-out;
    }
    
    .mobile-nav a:hover {
        background-color: var(--current-secondary);
        color: white;
    }
}

@media (max-width: 800px) {
    body {
        background-image: url('/img/Dawn.svg');
    }
    .welcome{
        height: 50vh;
    }
    
    h1{
        font-size: 100px;
    }
    h1 span{
        font-size: 100px;
    }
}

@media (max-width: 470px) {
    body {
        background-image: url('/img/Dawn.svg');
    }
    .welcome {
        justify-content: flex-start;
        padding-top: 25px;
        height: 40vh;
    }

    h1{
        font-size: 60px;
    }
    h1 span{
        font-size: 90px;
    }

    .buttons button {
        font-size: 20px;
    }
}
