/* App.css or your global stylesheet */
body,
#root {
   background-image: url("./assets/Dawn.svg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   overflow-x: auto;
}

